*.cache
CAPTCHA Breaking Library 2012.sln.docstates.suo
*.suo
*.manifest
bin/
obj/
CAPTCHA Breaking Library 2012/bin/Debug/CAPTCHA Breaking Library 2012.vshost.exe
SKOTDOC/obj/x86/Debug/SKOTDOC.exe
SKOTDOC/bin/Debug/SKOTDOC.vshost.exe
SKOTDOC/bin/Debug/SKOTDOC.exe
SKOTDOC/bin/Debug/SKOTDOC.pdb
SKOTDOC/obj/x86/Debug/SKOTDOC.pdb
SKOTDOC/obj/x86/Debug/SKOTDOC.csproj.FileListAbsolute.txt
SKOTDOC/bin/Debug/Syntax.wiki
Examples/Color CAPTCHA/*.dll
Examples/Color CAPTCHA/*.exe
Examples/Color CAPTCHA/ERROR.txt
packages/
TestResults/